<div *ngIf="inputedBook != ''">
  <div *ngIf="numberBooksFound == 1; else elseBlock">
    <p>{{ titoloLibro }} {{ autoreLibro }} {{ posizioneLibro }}</p>
    <div *ngIf="utenteLibro == ''">
      <label for="userName-input">Prendi in prestito:</label>
      <input type="text" id="userName-input" #inputedUser />
      <button type="button" (click)="addNewItem(inputedUser.value)">
        Add to parent's list
      </button>
    </div>
  </div>
  <ng-template #elseBlock>
    libri trovati:
    {{ numberBooksFound }}
  </ng-template>
</div>
